@import "src/variables";

.detail {
  height: 100%;
  width: 100%;
  background: $pink_light;
  position: fixed;
  margin-top: -160px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 20px;
}

.info {
  margin-top: 30px;
  padding: 20px;

  min-height: 50%;
  width: 60%;

  opacity: 100%;
  background: $pink_bright;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .info {
    max-height: 50%;
    width: 100%;
    padding: 0px;
    font-size: 0.6em;
  }
  .detail {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  .close {
    z-index: 100;
    margin-right: 10px;
  }
  .inner_content {
    width: 100%;
    margin: 0px;
    box-shadow: 0px 0px 0px 0px $pink_bright_detail;
  }
}

.close {
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

.cover {
  max-width: 170px;
}

.category {
  font-weight: bold;
  font-size: 1.8em;
  font-family: "Comic Sans MS";
  color: $red_bright;
  padding: 10px;
}


.download {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  color: $red_dark;
}

.column {
  display: flex;
  flex-direction: column;
}

.inner_content {
  width: 90%;
  background: rgba(255,157,143,0.44);
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px 9px $pink_bright_detail;
  -moz-box-shadow: 0px 0px 8px 9px $pink_bright_detail;
  box-shadow: 0px 0px 8px 9px $pink_bright_detail;
}
.card {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}