#detail {
  height: 100%;
  width: 110%;
  background: rgba(255,157,143,0.44);
  position: absolute;
  margin: -15px;
  display: flex;
  justify-content: center;
}

#info {
  margin-top: 30px;
  padding: 20px;

  height: 60%;
  width: 60%;

  opacity: 100%;
  background: rgb(255, 123, 123);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
}

#close {
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}
