<div class="detail" (click)="close()">
  <div class="info">
    <div class="inner_content">
      <div class="name">
        <h1>{{ album.artist }}</h1>
        <h2>{{ album.name }}</h2>
        <div>{{ album.rights }}</div>

        <span>
          <div class="category">#{{ album.category }}</div>
        </span>
      </div>

      <div class="column">
        <img class="cover" src="{{ album.image }}"/>
        <h3>Released on {{ album.releaseDate | date: 'longDate'}}</h3>
        <span>{{ album.itemCount }} songs</span>
        <a class="download" href="{{ album.link }}">
          <img src="/assets/download.png" width="30px"> {{ album.currency == 'USD' ? '$' : album.currency }}{{ album.price }}
        </a>
      </div>

    </div>

    <button class="close" (click)="close()">X</button>
  </div>

</div>
