<mat-card class="detail" >
  <div class="info">
    <mat-card class="inner_content">
      <mat-card-header >
        <h1>{{ album.artist }}</h1><br>
      </mat-card-header>

      <mat-card-content class="card">
        <div>
          <h2>{{ album.name }}</h2>
          <div>{{ album.rights }}</div>
          <h3>Released on {{ album.releaseDate | date: 'longDate'}}</h3>
          <span>{{ album.itemCount }} songs</span>
          <a class="download" href="{{ album.link }}">
            <img  src="/assets/download.png" width="30px">{{ album.price | currency: album.currency }}
          </a>
        </div>
        
        <div className="column">
          <img mat-card-image class="cover" src="{{ album.image }}"/>

        </div>
      </mat-card-content>
        

      <mat-card-footer>
          <div class="category">#{{ album.category }}</div>
      </mat-card-footer>
    </mat-card>

    <button class="close" (click)="close()">X</button>
  </div>
</mat-card>
