:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  height: 160px;
  display: flex;
  background-color: #d24118;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin-top: -70px;
}

.content {
  float: top;
  width: 100%;
}

a,
a:visited,
a:hover {
  color: #d23120;
  text-decoration: none;
}

a:hover {
  color: #95130f;
}

footer {
  margin-top: 8px;
  height: 160px;
  display: flex;
  background-color: #d24118;
  float: bottom;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }
}
