//$link_hover: #d23120;
$red_dark: #95130f;

$red_bright: #d24118;
$black: #333;

$pink_main: rgba(255, 48, 31, 0.44);
$pink_detail: rgba(191,80,86,1);
$pink_detail_light: #d2a19f;

$pink_bright: rgb(255, 123, 123);
$pink_bright_detail: rgba(255,158,143,1);
$pink_light: rgba(255,157,143,0.44);
