<app-album-detail [album]="albums[index]" [index]="index" (indexChange)="this.index = $event" *ngIf="index || index == 0" (click)="click($event)"></app-album-detail>

<div class="search"><input  #input placeholder="" (change)="filter(input.value)"> <img src="/assets/search.png" class="glass" height="30px" (click)="filter(input.value)"></div>

<ul *ngIf="fetched">
  <li *ngFor="let album of albums" (click)="showDetail(album.key)">
    <div>
      <span class="name">{{ album.name }}</span>
      <span class="artist">{{ album.artist }} </span>

    </div>
    <span class="price">{{ album.price | currency: album.currency}}</span>
  </li>
</ul>

<div class="notfound" *ngIf="albums.length === 0"><h1>Nothing found</h1></div>


